nav{
    height: 100px;
    width: 1210px;
    background-color: beige;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.img-grid:hover{
    transform: scale(1.1);
}
